<html>
    <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link href= "css/index.css" type= "text/css" rel= "stylesheet">
    </head>
    <body>
        <div class =  "container-fluid">
            <div class = "row text-center">
                <div class = "col-xs-12">
                    <p class = "title">To use this program:</p>
                </div>
            </div>
            <div class = "row text-center">
                <div class = col-xs-12>
                    <p class = "description">Input a website name beginning with
         http://www. or https://www. to recieve a shortened URL.
         Visit this URL to be redirected to the original 
         URL associated with that shortened URL.</p>
                </div>
            </div>
            <div class = "row text-center">
                <div class = "col-xs-12">
                    <p class = "exampletitle">Examples:</p>
                </div>
            </div>
            <div class = "row text-center">
                <div class = "col-xs-6">
                    <p>https://whispering-dusk-46791.herokuapp.com/<span class = "changethis">http://www.google.com</span></p><br>
                    <p>https://whispering-dusk-46791.herokuapp.com/<span class = "changethis">4502</span></p>
                </div>
                <div class = "col-xs-6">
                    <p>https://whispering-dusk-46791.herokuapp.com/<span class = "changethis">https://www.foo.com</span></p><br>
                    <p>https://whispering-dusk-46791.herokuapp.com/<span class = "changethis">9907</span></p>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>