<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link href= "/css/invalid.css" type= "text/css" rel= "stylesheet">  
    </head>
    <body>
        <div class = "row text-center">
                <div class = "col-xs-12">
                    <p class = "error">Error!</p>
                </div>
            </div>
        <div class =  "container-fluid">
            <div class = "row text-center">
                <div class = "col-xs-12">
                    <p class = "errortext"><%= error %></p>
                </div>
            </div>
        </div>
        
        
        
        
    </body>
</html>